name: Android CI
env:
  main_project_module: app
  playstore_name: SMediaViewer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
   
    steps:
    - uses: actions/checkout@v4

    # Set Current Date As Env Variable
    - name: Set current date as env variable
      run: echo "date_today=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    # Set Repository Name As Env Variable
    - name: Set repository name as env variable
      run: echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

    - name: Set Up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: 'gradle'
    
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
        
    - name: Change wrapper permissions
      run: chmod +x ./gradlew

    # Run Tests Build
    #- name: Run gradle tests
    #  run: ./gradlew test

    # Run Build Project
    #- name: Build gradle project
    #  run: ./gradlew build

    # Build Release
    - name: Build Release APK - "${{ env.main_project_module }}"
      run: ./gradlew assembleRelease

    - name: Decode Keystore
      run: echo "${{ secrets.SIGNING_KEY }}" | base64 --decode > release.keystore

    - name: Create Dist Folder
     # -p ensures it doesn't fail if the directory already exists
      run: mkdir -p dist/

    - name: Sign APK to Dist Folder
      run: |     
             # Find the latest apksigner in the Android SDK
             APKSIGNER=$ANDROID_HOME/build-tools/$(ls -1 $ANDROID_HOME/build-tools | tail -1)/apksigner
    
             # Use --out to specify the final signed file location
             $APKSIGNER sign --ks release.keystore \
               --ks-key-alias "${{ secrets.ALIAS }}" \
               --ks-pass pass:"${{ secrets.KEY_STORE_PASSWORD }}" \
               --key-pass pass:"${{ secrets.KEY_PASSWORD }}" \
               --out dist/SMediaViewer.apk \
               app/build/outputs/apk/release/app-release.apk

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: signed-apk
        path: dist/SMediaViewer.apk
